@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 92%;
    --primary: 349 100% 61%;
    --secondary: 0 0% 13%;
    --tertiary: 0 0% 42%;
    --border: 0 0% 87%;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 92%;
    --primary: 349 100% 61%;
    --secondary: 0 0% 13%;
    --tertiary: 0 0% 42%;
    --border: 0 0% 87%;
  }
}


html,
body,
:root {
  height: 100%;
}